<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:pattern {"slug":"modern-blocks/hero-banner"} /-->
	<!-- wp:pattern {"slug":"modern-blocks/features"} /-->
	<!-- wp:pattern {"slug":"modern-blocks/team-members"} /-->
	<!-- wp:pattern {"slug":"modern-blocks/clients"} /-->
	<!-- wp:pattern {"slug":"modern-blocks/testimonials"} /-->
	<!-- wp:pattern {"slug":"modern-blocks/pricing-table"} /-->
	<!-- wp:pattern {"slug":"modern-blocks/latest-articles"} /-->
	<!-- wp:pattern {"slug":"modern-blocks/cta-default"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
